* {
    margin: 0;
    padding: 0;
}

h1 {
  color: white;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

img {
  width: 100%;
  z-index: 1;
}

.baner {
  justify-content: center;
  align-items: center;
}

.lewy {
  justify-content: center;
  column-gap: 200px;
  display: flex;
  background-color: rgb(150, 111, 92);
  padding: 15px;
}

.p1,
.p2,
.p3 {
  background-color: white;
  padding: 10px;
  border-radius: 9999px;
  border: 1px solid white;
}
.p1 a,
.p2 a,
.p3 a {
  color: rgb(150, 111, 92);
  text-decoration: none;
}

.p1:hover,
.p2:hover,
.p3:hover {
  background-color: transparent;
}

.p1:hover a,
.p2:hover a,
.p3:hover a {
  color: rgb(255, 255, 255);
}

.mid {
  background-color: rgb(207, 207, 192);
    padding: 10px;
}

.stopka {
    background-color: rgb(150, 111, 92);
    padding: 40px;
    color: white;
    text-align: center;
}
    ul {
        padding-left: 100px;
    }


table {
    border: 1px dashed black;
    width: 60%;
    margin-left: 50px;
    border-collapse: collapse;
}


body {
  background-color: #ffffff;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}


body.dark-mode {
  background-color: #333533;
  color: #e6e6e6;
}

body.dark-mode .lewy {
  background-color: #2b2b2b;
}

body.dark-mode .mid {
  background-color: #1e1e1e;
}

body.dark-mode .stopka {
  background-color: #2b2b2b;
}

body.dark-mode .p1,
body.dark-mode .p2,
body.dark-mode .p3 {
  background-color: transparent;
  border-color: #444;
}

body.dark-mode a {
  color: #9ecbff;
}

body.dark-mode img {
  filter: brightness(0.9) contrast(0.9);
}